@media screen and ( max-width: 768px) {
  .nav-item {
    font-size: 100%;
  }
}

.navbar-brand{
  font-weight: bold;
  padding-right: 50px;
}

#nav{
  background-color: black;
}
@media screen and ( max-width: 768px){
#bg-image{
display: flex;
max-width:75%;
height: auto;
margin: auto;
}
}
@media screen and ( min-width: 768px){
#bg-image{
display: flex;
max-width:75%;
height: 850px;
margin: auto;
}
}
@media screen and ( min-width: 768px){
#carouselExampleControls{
height: 600px !important;
}
}@media screen and ( max-width: 768px){
#carouselExampleControls{
height: 770px !important;
}
}

#carouselExampleControls{
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px;
}

.spotify-carousel{
  padding: 0;
  text-align: center;
}
.episode-artwork{
  max-width:100%;
  padding: 25px;
  border-radius: 10%;
}
.card:hover{
  transform: scale(1.05);
  opacity: 0.8;
}
.episode-artwork:hover{
  transform: scale(1.05);
  opacity: 0.5;
}

footer{
  padding: 50px;
}
a{
  color: black;
}
a:hover{
  color: gray;
}
#my-store-70893794{
  padding: 50px;
  margin: auto;
  width: 100%;
}

