{% include "header.html" %}
<div class="container" style="padding:25px;">
<h1 class="text-center">Hi I'm Matt</h1>
    <p>blah blah blah blah blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blahblah blah blah
        blahblah blah blah blahblah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blahblah blah blah blahblah blah blah blah
    blah blah blah blahblah blah blah blah. yo matt write some shit here </p>
    </div>
{% include "footer.html" %}